#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.unorderedList li{
  display: flex;
  align-items: center; 
}

.rowClass {
  border: 1px solid black;
  display: flex;
  width:400px;
  height:50px;
  justify-content: center; /* 水平居中 */
  align-items: center; 
  margin-bottom: 10px;
}

